@model CrmApp.Models.ViewModels.ErrorViewModel
@{
    ViewData["Title"] = "Chyba";
}

<h1 class="text-danger">Chyba.</h1>
<h2 class="text-danger">Při zpracování vašeho požadavku došlo k systémové chybě.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>ID požadavku:</strong> <code>@Model.RequestId</code>
    </p>
}